*{
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
    width: 100%;
}
body{
    overflow: hidden;
    background-image: linear-gradient( 109.6deg,  rgba(121,203,202,1) 11.2%, rgba(119,161,211,1) 91.1% );
    color: white;
    text-shadow: black 1px 1px 5px;
}
 .container{
    display: flex;
    flex-direction: column;
    justify-items: center;
} 
.box{
    width: 600px;
    height: 240px;
}
.border{
    position: relative;
    margin: 100px auto; 
} 
.title, .anime-title{
    text-align: center;
    font-family: 'Cinzel Decorative', cursive;
    font-weight: 700;
}
.title{
    margin-top: 30px;
}
.anime-title{
    padding: 10px 0 ;
    font-size: 1.5rem ;
}
.qoute {
    margin: 30px 0;
    padding: 0% 10%;
    font-family: 'Raleway', sans-serif;
    font-weight: 500 ;
}
.auther-info-container{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: relative;
    top: 20px;
}
.character{
    margin-right: 10px;
    font-family: 'Cinzel Decorative', cursive;
    font-weight: 400;
}
.twitter-share-button{
    background: transparent;
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-left: 20px;
    font-family: 'Cinzel Decorative', cursive;
    font-weight: 400;
}
.twitter-share-button-container:hover{
    transform: translateY(-5px);
}
span{
    text-align: left;
}
.button {
    margin: auto;
   
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 500 ;
}
.anim {
   animation-name: anim;
    animation-duration: 6s;
    animation-direction: forwards;
}
@keyframes anim {
    0%{
        left: 20%;
    }
    50%{
        left: 40%;
       opacity: 0;  
    }
    51%{
       left: -60%;
       opacity: 0;  
    }
    100%{
       left: 0%;    
       opacity: 1; 
    }
}